/* Bilder bearbeiten: */

.bildheader {
    width: 100%;
    margin-top: 0;
    display: block;
    position: relative;
    z-index: 1;
}

.bildfooter {
    width: 100%;
    display: block;
    position: relative;
}

.warenkorb {
    width: 15%;
    margin-left: 60%;
    margin-top: -30%;
    position: relative;
    z-index: 2;
}

.gemueseteller {
    width: 25%;
    justify-content: end;
    z-index: 1;
}


.trennstrich {

    width: 100%;
}


.karte_bern {
    display: flex;
    width: 60%;
}


.spinat {
    width: 10%;
    margin-left: 100px;
    transform: scaleX(-1);
    z-index: 2;
}



/* ab hier Textbearbeitungen: */

.schritte {

    padding: 20px;
    text-transform: none;
}

.werte {

    padding: 20px;
    text-transform: none;
    list-style-type: disc;
}


.platform {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;

}

.allehaendler {
    margin: 20px;

}

.haendler {

    list-style: disc;
    text-transform: none;
    margin: 20px;
}

h1{
    z-index: 1;
}

button {
    width: fit-content;
    background-color: rgba(157, 192, 28, 1);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: rgb(120, 146, 25);
}



/*** small laptop  ***/
@media screen and (max-width: 1100px) {



    .bildheader {
        height: 400px;
    }

}

/*** Tablet  ***/
@media screen and (max-width: 768px) {


    .bildheader {
        height: 400px;
    }

    button {
        font-size: 18px;

    }

    .warenkorb {
        width: 20%;

    }
}



/*** Handy  ***/
@media screen and (max-width: 576px) {

    .bildheader {
        height: 250px;
    }

    button {
        font-size: 16px;
    }

    .warenkorb {
        width: 20%;

    }

   

}