/* Bilder bearbeiten: */

.bildheader {
    width: 100%;
    margin-top: 0;
    display: block;
    position: relative;
    z-index: 1;
}

.bildfooter {
    width: 100%;
    display: block;
    position: relative;
}

.warenkorb {
    width: 15%;
    margin-left: 60%;
    margin-top: -30%;
    position: relative;
    z-index: 2;
}

.gemueseteller {
    width: 60%;
   
}


.trennstrich {

    width: 100%;
}


.karte_bern {
    display: flex;
    width: 60%;
}


.spinat {
    width: 10%;
    margin-left: 100px;
    transform: scaleX(-1);
    z-index: 2;
}



/* ab hier Textbearbeitungen: */

.schritte {

    padding: 20px;
    text-transform: none;
}

.werte {

    padding: 20px;
    text-transform: none;
    list-style-type: disc;
}


.platform {
    display: flex;
    align-items: flex-start;
    margin-left: 55px;

}

.allehaendler {
    margin: 20px;

}

.haendler {

    list-style: disc;
    text-transform: none;
    margin: 20px;
}

h1{
    z-index: 1;
}

button {
    width: fit-content;
    background-color: rgba(157, 192, 28, 1);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: rgb(120, 146, 25);
}

.article3 {
display: flex;
flex-direction: row;
}

.article3_text {
display: flex;
flex-direction: column;
flex: 1;
}

.article3_bild {
display: flex;
flex: 1;
justify-content: center;
}


/*** Tablet  ***/
@media screen and (max-width: 768px) {


    button {
        font-size: 18px;

    }

    .warenkorb {
        width: 20%;

    }

    .article3 {
        display: flex;
        flex-direction: column;
    }

    .gemueseteller {
        width: 40%;
    }
}



/*** Handy  ***/
@media screen and (max-width: 576px) {

    button {
        font-size: 16px;
    }

    .warenkorb {
        width: 20%;

    }

    .article3 {
        display: flex;
        flex-direction: column;
    }
   

}