/* Bilder einzeln: */

.bildheader {
    width: 100%;
    margin-top: 0;
    display: block;
    position: relative;
    z-index: 1;
}

.bildfooter {
    width: 100%;
    display: block;
    position: relative;
}

.warenkorb {
    width: 15%;
    margin-left: 60%;
    margin-top: -30%;
    position: relative;
    z-index: 2;
}

.gemueseteller {
    width: 60%;

}


.trennstrich {

    width: 100%;
}


.karte_bern {
    width: 100%;
}


.spinat {
    width: 10%;
    margin-left: 10%;
    margin-bottom: -10%;
    position: relative;
    transform: scaleX(-1);
    z-index: 2;
}



/* ab hier Textbearbeitungen: */

.schritte {

    padding: 20px;
    text-transform: none;
}

.werte {

    padding: 20px;
    text-transform: none;
    list-style-type: disc;
    margin-left: 20px;
}


.platform {
    display: flex;
    align-items: flex-start;
    margin-left: 50px;

}

.allehaendler {
    margin: 20px;

}

.haendler {
    padding: 10px;
    list-style: disc;
    text-transform: none;
    margin-left: 20px;
}

h1 {
    z-index: 1;
}

button {
    width: fit-content;
    background-color: rgba(157, 192, 28, 1);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: rgb(120, 146, 25);
}

.registrieren {
    margin-bottom: 10px;
}


#plz {
    width: 100px;
}

/* ab hier Sachen zu Flexboxen: */

.article3 {
    display: flex;
    flex-direction: row;
}

.article3_text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.article3_bild {
    display: flex;
    flex: 1;
    justify-content: center;
}


.interaktive_karte {
    display: flex;
    flex-direction: row;
}

.interaktive_karte_text {
    display: flex;
    flex-direction: column;
    flex: 40%;
}

.interaktive_karte_bild {
    display: flex;
    flex-direction: column;
    flex: 60%;
    align-items: flex-end;
    justify-content: center;
}

/*** Tablet  ***/
@media screen and (max-width: 768px) {


    button {
        font-size: 18px;

    }

    .warenkorb {
        width: 20%;

    }

    .article3 {
        display: flex;
        flex-direction: column;
    }

    .gemueseteller {
        width: 40%;
    }

    .schritte {

        padding: 10px;
    }

    .werte {

        padding: 5px;
    }

    .haendler {
        padding: 5px;
    }

    .interaktive_karte {
        flex-direction: column;
    }

}



/*** Handy  ***/
@media screen and (max-width: 576px) {

    button {
        font-size: 16px;
    }

    .warenkorb {
        width: 20%;

    }

    .article3 {
        display: flex;
        flex-direction: column;
    }

    .schritte {

        padding: 10px;
    }

    .werte {

        padding: 5px;
    }

    .haendler {
        padding: 5px;
    }

    .interaktive_karte {
        flex-direction: column;
    }



}