.flex-column {
    display: flex;
    flex-direction: column;
}

.naragmbh {
    margin-left: auto;
    line-height: 0.5;
    text-align: right;
}

.geschaeftsfuehrerinnen {
    margin-top: -70px;
    line-height: 1.2;
}

.headerbild {     
    width: 100%;
    height: auto;
    margin-top: 0;
    display: block;
    position: relative;
}

.footerbild {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    display: block;
    position: relative;
    z-index: 1; 
}

.backen {
    width: 210px;
    height: 210px;
    position: absolute; 
    top: 1380px; 
    right: 250px; 
    z-index: 2; 
}

.laedeli {
    width: 200px;
    height: 200px;
    position: absolute; 
    top: 475px; 
    left: 200px; 
}

h1 { 

        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        width: 1130px;
        height: 172px;
        flex-shrink: 0;

}