.flex-column {
    display: flex;
    flex-direction: column;
}

.naragmbh {
    margin-left: auto;
    text-align: right;
}

.geschaeftsfuehrerinnen {
    margin-top: -70px;
    line-height: 1.2;
}

h1{
    font-size: 6vw;
    margin-top: 3%;
}

.headerbild {     
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.footerbild {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1; 
}

.backen {
    width: 15%;
margin-left: 85%;
margin-bottom: -25%;
    position: relative;
    z-index: 3;
}

.laedeli {
    width: 13%;
margin-left: 5%;
margin-top: -6%;
    position: relative;
    z-index: 3;
}

/*** Handy  ***/
@media screen and (max-width: 576px) {
    .naragmbh {
        margin-left: 0px;
        line-height: 0.5;
        text-align: left;
        margin-top: 30px;
    }
    
    .geschaeftsfuehrerinnen {
        margin-top: 0px;
    }


}
