.grid-container {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


body {
    background-color: #f5d7b5;

}


.grid-item {

    padding: 50px;
    font-size: 20pt;
}

header {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    background-color: rgb(255, 157, 0);
    font-family: monospace;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

main {
    grid-column: 1 / span 12;
    grid-row: 2 / span 4;
    font-family: monospace;

}

footer {
    grid-column: 1 / span 12;
    grid-row: 6 / span 1;
    background-color: red;
    font-family: monospace;

}