.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-container label {
    margin-bottom: 60px;
}

.form-container label,
.form-container input,
.form-container textarea, 
.schreibeuns {
    margin-bottom: 20px;
    top: 100px;
}

.megaphon {
    width: 30%;
    margin-left: 60%;
    margin-top: -28%;
        position: relative;
        z-index: 3;
}


.headerbild {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
    
}
.header-container {
    font-size: 80px;
}

    
h1 { 
z-index: 2;
}



.bohnen {
    width: 7%;
margin-left: 15%;
margin-bottom: -7%;
    position: relative;
    z-index: 3;
}

.spargeln {
    width: 7%;
margin-left: 10%;
margin-bottom: -7%;
    position: relative;
    transform: scaleX(-1);
    z-index: 3;

}

.form-container {
    display: flex;
    flex-direction: column;
width: 80%;
    margin: 0;
}

label,
input {
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

label {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;

}

textarea {
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

#betreff {
    width: 50%;
    height: 44px;
}

#email {
    width: 50%;
    height: 44px;
}

#nachricht {
    width: 100%;
    height: 260px;
}

.footerbild {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}


.naragmbh {
    line-height: 0;
    text-align: left;
margin-top: -15%;
flex-direction: column;
}

#email {
    font-family: 'ZenKakuGothicAntique';
    font-size: 20px;
}

.sendenbutton {
    width: fit-content;
    background-color: rgba(157, 192, 28, 1);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.sendenbutton:hover {
    background-color: rgb(120, 146, 25);
}
