.headerbild {
    width: 100%;
    height: auto;
    margin-top: 0;
    display: block;
    position: relative;
}

.imgwelt {
    width: 30%;
    position: absolute;
    top: 35%;
    left: 60%;
    
}


.front-dings {
    display: flex;
    flex-wrap: wrap;
}
.buttons {
    width: fit-content;
    background-color: rgba(157, 192, 28, 1);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    border: none;


}

.nachaltig-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#front-button {
    left: 10%;
    top: 60%;
    position: absolute;

}

.article1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}

.article2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}

.article3 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.menue1 {
    width: 15%;
    height: auto;
    justify-self: end;
    align-self: center;
    margin-left: 50px;

}

.article4 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}

.imgzwiebel {
    width: 15%;
    height: auto;
    transform: rotate(90deg);
    z-index: 2;
    position: absolute;
    left: 15%;
}

.startseite-gemuese {
    width: 20%;
    height: auto;
    z-index: 2;
    position: absolute;
    left: 70%;
    
}

.footer-grün {

    width: 100%;
    position: relative;
    display: block;
    z-index: 1;
}

.trennstrich {
    width: 100%;
}

.article5 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.partner {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 25%;
    height: auto;
}

.logopartner {
    width: 80%;
    height: auto;
}





/*** Tablet  ***/
@media screen and (max-width: 768px) {


    .headerbild{
        width: 100%;
        height: 300px;
        margin-top: 0;
        display: block;
        position: relative;
    }
    .imgwelt {
        top: 30%;
    }

    .buttons {
        width: fit-content;
        background-color: rgba(157, 192, 28, 1);
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        border: none;
    }
    #front-button {
    top: 50%;
    left: 10%;
    
    }
    .partner {
        flex-direction: row;
        gap: 30px;

    }

   

}



/*** Handy  ***/
@media screen and (max-width: 576px) {

    .headerbild{
        width: 100%;
        height: 250px;
        margin-top: 0;
        display: block;
        position: relative;
    }
   

    .buttons
     {
        width: fit-content;
        background-color: rgba(157, 192, 28, 1);
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        border: none;
    }


    #front-button {
      top: 35%;
      left: 10%;
    
    }

    .partner {    
        gap: 10px;
    }

   
    .nachaltig-buttons {

        flex-wrap: wrap;
    }

    .imgwelt {
        top: 30%;
    }
}