.headerbild {
    width: 100%;
    height: auto;
    margin-top: 0;
}

article img {
    width: 100%;
    object-fit: cover;
}



.imgwelt {
    width: 30%;
    position: absolute;
    top: 308px;
    left: 60%;
}

.imgherz {
    width: 10%;
    position: absolute;
    transform: rotate(27.071deg);
    flex-shrink: 0;
    top: 35%;
    left: 75%
}

.buttons {
    width: fit-content;
    background-color: rgba(157, 192, 28, 1);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;


}

.nachaltig-buttons {
    display: flex;
    gap: 20px;
    /* Abstand zwischen den Buttons */
    margin-top: 20px;
}

#front-button {
    position: absolute;
    top: 419px;
    left: 190px;
}

.article1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}

.article2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}

.article3 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.menue1 {
    width: 149px;
    height: 149px;
    justify-self: end;
    align-items: center;

}

.article4 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}

.imgzwiebel {
    width: 145px;
    height: 145px;
    transform: rotate(90deg);

left: 20%;
top: 90%;   
    }

    .footer-grün {
   
        width: 100%;
        position: relative;
        display: block;
    }
    
    