@font-face {
    font-family: 'ZenKakuGothicAntique';
    src: url('../Schriften/ZenKakuGothicAntique-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZenKakuGothicAntique';
    src: url('../Schriften/ZenKakuGothicAntique-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


.grid-container {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


body {
    font-family: ZenKakuGothicAntique;
    background-color: rgba(242, 221, 156, 1);

}


.grid-item {

    padding: 50px;
    font-size: 20pt;
}

header {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    background-color:rgba(29, 37, 22, 1);
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-style: white;
}

.navigation-link {
    text-decoration: none;
    color: white;
}



main {
    grid-column: 1 / span 12;
    grid-row: 2 / span 4;

}

footer {
    grid-column: 1 / span 12;
    grid-row: 6 / span 1;
    background-color:rgba(29, 37, 22, 1);
    font-weight: bold;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-style: white;

}

.footer-link {
    text-decoration: none;
    color: white;

}