.headerbild {
    width: 100%;
    margin-top: 0;
    display: block;
    position: relative;
    z-index: 1;
}

h1 {
    z-index: 1;
}

.footerbild {
    width: 100%;
    display: block;
    position: relative;
}

.trennstrich {
    margin-top: 8%;
    margin-bottom: 6%;
    width: 100%;
}

.imgeinkaufsladen {
    width: 25%;
    position: relative;
    margin-top: -30%;
    left: 60%;
    z-index: 2;
}

.imgpfanne {
    width: 21%;
    position: absolute;
    bottom: 27%;
    left: 60%;
    z-index: 2;
}

.imgbrokkoli {
    width: 6%;
    position: absolute;
    bottom: 60%;
    right: 10%;
    z-index: 2;
}

.video-container {
    position: relative;
    display: inline-block;
}

.video-container video {
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    border: 15px solid #155929;
    border-radius: 15px;
}

.imgtanne,
.imgbaum {
    position: absolute;
    bottom: 0;
    height: auto;
}

.imgtanne {
    width: 25%;
    right: 84.7%;
}

.imgbaum {
    width: 18%;
    left: 92%;
}

.buttons {
    width: fit-content;
    background-color: #9dc01c;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
}

.buttons:hover {
    background-color: #789219;
}



.article1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}

.article2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}

.article3 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}

.team {
    display: flex;
    flex-direction: column;
    width: 100%
}

.rabih {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    
}

.imgrabih {
    margin-right: -1%;
    z-index: 1;
}

.rabih p {
    padding: 15px;
    border: 15px solid #155929;
    border-radius: 30px;
    word-wrap: break-word;
    min-width: 200px;
}

.anna {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}

.imganna {
    margin-left: -1%;
    z-index: 1;
}

.anna p {
    padding: 15px;
    border: 15px solid #155929;
    border-radius: 30px;
    word-wrap: break-word;
    min-width: 200px;
}

.nadia {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.imgnadia {
    margin-right: -1%;
    z-index: 1;
}

.nadia p {
    padding: 15px;
    border: 15px solid #155929;
    border-radius: 30px;
    word-wrap: break-word;
    min-width: 200px;
}

.aglaja {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}

.imgaglaja {
    margin-left: -1%;
    z-index: 1;
}

.aglaja p {
    padding: 15px;
    border: 15px solid #155929;
    border-radius: 30px;
    word-wrap: break-word;
    min-width: 200px;
}

.article8 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}


@media screen and (max-width: 576px) {
    .buttons {
        font-size: 18px;
        padding: 8px;
    }

    .rabih {
        flex-direction: column;
    }

    .imgrabih {
        margin-bottom: -7%;
        margin-left: 0%;
    }

    .anna {
        flex-direction: column;
    }
    .imganna {
        margin-bottom: -7%;
        margin-left: 0%;
    }

    .nadia {
        flex-direction: column;
    }

    .imgnadia {
        margin-bottom: -7%;
        margin-left: 0%;
    }

    .aglaja {
        flex-direction: column;
    }

    .imgaglaja{
        margin-bottom: -7%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 768px) and (min-width: 577px) {
    .buttons {
        font-size: 20px;
        padding: 9px;
    }

    .rabih {
        flex-direction: column;
    }

    .imgrabih {
        margin-bottom: -7%;
        margin-left: 0%;
    }

    .anna {
        flex-direction: column;
    }
    .imganna {
        margin-bottom: -7%;
        margin-left: 0%;
    }

    .nadia {
        flex-direction: column;
    }

    .imgnadia {
        margin-bottom: -7%;
        margin-left: 0%;
    }

    .aglaja {
        flex-direction: column;
    }

    .imgaglaja{
        margin-bottom: -7%;
        margin-left: 0%;
    }


}