
.headerbild {
    width: 100%;
    margin-top: 0;
    display: block;
    position: relative;
    z-index: 1;
}
h1{
    z-index: 1;
}
.footerbild {
    width: 100%;
    display: block;
    position: relative;
}
.trennstrich {
    margin-top: 8%;
    margin-bottom: 6%;
    width: 100%;
}
.imgeinkaufsladen {
    width: 25%;       
    position: relative;
    margin-top: -30%;
    left: 60%;
    z-index: 2;
}
.imgpfanne {
    width: 21%;      
    position: absolute;
    bottom: 27%;
    left: 60%;
    z-index: 2;
}
.imgbrokkoli {
    width: 6%;     
    position: absolute;
    bottom: 60%;
    right: 10%;
    z-index: 2;
}
.video-container {
    position: relative; 
    display: inline-block; 
}
.video-container video {
    max-width: 100%; 
    width: 100%; 
    height: auto;  
    display: block;
    margin: 0 auto; 
    align-items: center; 
    margin-top: 50px;
    border: 15px solid #155929; 
    border-radius: 15px; 
}
.imgtanne, .imgbaum {
    position: absolute;
    bottom: 0;
    height: auto;     
}
.imgtanne {
    width: 25%;     
    right: 84.7%;
}
.imgbaum {
    width: 18%;    
    left: 92%;
}
.buttons {
    width: fit-content;
    background-color: #9dc01c;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
}
.buttons:hover {
    background-color: #789219;
}
@media (max-width: 767px) {
    .buttons {
        font-size: 18px;
        padding: 8px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .buttons {
        font-size: 20px;
        padding: 9px;
    }
}
.article1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}
.article2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}
.article3 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}
.article4 {
    display: flex;            
    align-items: center;    
    position: relative;      
}
.article4 img {
    max-width: 50%;         
    margin-right: -1%;     
    z-index: 2;           
}
.article4 p {
    flex: 1;                 
    margin: 0;               
    position: relative;      
    padding: 15px;            
    border: 15px solid #155929; 
    border-radius: 30px;      
    box-sizing: border-box;   
    z-index: 1;            
}
.article5 {
    display: flex;          
    align-items: center;    
    flex-direction: row-reverse;  
    position: relative;    
}
.article5 img {
    max-width: 50%;         
    margin-left: -1%;       
    z-index: 2;              
}
.article5 p {
    flex: 1;              
    margin: 0;               
    position: relative;      
    padding: 15px;        
    border: 15px solid #155929; 
    border-radius: 30px;     
    box-sizing: border-box;  
    z-index: 1;              
}
.article6 {
    display: flex;           
    align-items: center;     
    position: relative;      
}
.article6 img {
    max-width: 50%;          
    margin-right: -1%;     
    z-index: 2;              
}
.article6 p {
    flex: 1;                 
    margin: 0;                
    position: relative;     
    padding: 15px;         
    border: 15px solid #155929; 
    border-radius: 30px;     
    box-sizing: border-box;   
    z-index: 1;               
}
.article7 {
    display: flex;          
    align-items: center;     
    flex-direction: row-reverse;  
    position: relative;      
}
.article7 img {
    max-width: 50%;        
    margin-left: -1%;     
    z-index: 2;             
}
.article7 p {
    flex: 1;             
    margin: 0;               
    position: relative;     
    padding: 15px;          
    border: 15px solid #155929; 
    border-radius: 30px;     
    box-sizing: border-box;  
    z-index: 1;              
}
.article8 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
}